sudo: required

env:
    - DOCKER_USER=travis

services:
    - docker

# This is just here for Travis CI to report correctly
language: go
go:
    - "1.12" # quote this

# Not need as we are not running GO in this image, but the Docker image
# go_import_path: github.com/clearlinux/clr-installer

before_install:
    - docker pull clearlinux/clr-installer-ci
    - docker run --network=host --name clear-test -v $(pwd):/travis -v /dev:/dev  -v /var/tmp/test:/tmp -v /sys/fs/cgroup:/sys/fs/cgroup:ro -e container=docker --privileged --tmpfs /run --tmpfs /run/lock -dit --rm clearlinux/clr-installer-ci:latest /sbin/init
    - docker ps
    - docker exec -it clear-test bash -c "swupd bundle-add devpkg-gtk3" # TODO: Remove this when the GUI dependencies are installed in the clr-installer-ci image

# Do NOT use -l (login) for the bash shell or the default profile
# (/usr/share/defaults/etc/profile) will reset PATH removing the
# GOPATH/bin added to the clr-installer-ci Docker image.

# Just use the latest Docker image build for now
#install:
#      - docker exec -it clear-test bash -c "swupd update"

before_script:
      # create a non-root user mapping the travis user (using same uid)
    - docker exec -it clear-test bash -c "useradd -u $(id --u) $DOCKER_USER"
      # Show the current swupd configuration
    - docker exec -it clear-test bash -c "swupd info"
      # Debug information
    - docker exec -it clear-test bash -c "set;printenv"
      # Force restart telemetry
    - docker exec -it clear-test bash -c "telemctl restart"
      # Debug information to verify restart
    - docker exec -it clear-test bash -c "journalctl|cat"

script:
    - docker exec -it clear-test bash -c "cd /travis ; make dist-clean"
    - docker exec -it clear-test bash -c "cd /travis ; make"
    - docker exec -it clear-test bash -c "cd /travis ; PATH=${PATH}:${GOPATH}:/go/bin make vendor-check"
    - travis_wait 30 sleep infinity & docker exec -it clear-test bash -c "cd /travis ; make lint"
    - travis_retry docker exec -it clear-test bash -c "cd /travis ; make check"
    - docker exec -it clear-test bash -c "cd /travis ; make clean"
    - docker exec -it clear-test bash -c "cd /travis ; make check-clean"
    - docker exec -it clear-test bash -c "chown -R travis:travis /travis"
    - docker exec --user "${DOCKER_USER}" -it clear-test bash -c "cd /travis ; make"
    - travis_retry docker exec --user "${DOCKER_USER}" -it clear-test bash -c "cd /travis ; ./tests/check-coverage.sh"
    - docker exec -it clear-test bash -c "mkdir -p /opt/test-dest"
    - docker exec -it clear-test bash -c "cd /travis ; make install DESTDIR=/opt/test-dest"

after_script:
    - docker exec -it clear-test bash -c "cd /travis ; make clean"
    - docker container stop clear-test
