[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Install Clear Linux OS
Comment=Clear Linux OS Installer
Icon=/usr/share/clr-installer/themes/clr.png
Exec=pkexec /usr/bin/clr-installer
Terminal=false
Categories=X-GNOME-Settings-Panel;GTK;System;Settings;
Keywords=Install;SystemSettings;
