window {
    background-color: #414449;
    border: none;
}

.ebox-banner {
    background-color: transparent;
    border: none;
    background-image: url('/usr/share/backgrounds/clearlinux/color_logo_wire_2560x1440.png');
}

.invisible-titlebar {
    background-image: none;
    background-color: transparent;
    border: none;
}

.box-switcher button {
    background-image: none;
    border-image: none;
    background-color: #272B2E;
    border: 1px solid #272B2E;
    border-radius: 0px;
    box-shadow: none;
}

.box-switcher button:checked {
    background-image: none;
    border-image: none;
    border: none;
    background-color: #414449;
    border: 1px solid #414449;
    border-radius: 0px;
    box-shadow: none;
}

.label-switcher {
    font-weight: bold;
    font-size: 110%;
}

.scroller-main {
    background-image: none;
    background-color: #414449;
    color: #71C2E3;
}

.summary-widget .configured-value {
    font-size: 90%;
    color: white;
}

.box-header {
    background-color: #2D3237;
}

.box-header image {
    color: #71C2E3;
}

.button-confirm,
.button-cancel,
.button-page {
    background-image: none;
    font-weight: bold;
    font-size: 12px;
    border-radius: 24px;
    border-style: none;
    color: white;
}

.button-confirm {
    margin-bottom: 10px;
    background-color: #00AEFF;
}

.button-cancel {
    margin-bottom: 10px;
    background-color: #33383D;
}

.button-page {
    margin-top: 10px;
    background-color: #00AEFF;
}

.button-confirm:disabled,
.button-cancel:disabled,
.button-page:disabled {
    opacity: 0.6;
}

.box-page {
    margin-left: 20px;
    margin-right: 20px;
}

.box-page-new {
    border: 1px solid gray;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.box-list-label {
    margin-top: 2px;
    margin-bottom: 2px;
}

.search-entry,
.entry,
.scroller,
.list-scroller {
    background-image: none;
    background-color: #2D3237;
    margin-bottom: 10px;
}

.search-entry {
    border-radius: 24px;
    margin-top: 10px;
}

.entry {
    margin-top: 10px;
}

.list-label-description,
.list-label-code {
    color: white;
    padding-left: 20px;
}

.list-label-description {
    font-weight: bold;
}

.list-label-code {
    font-size: 80%;
}

.label-warning {
    font-size: 95%;
    font-style: italic;
    color: red;
}

.label-entry {
    font-size: 110%;
    font-weight: bold;
}

.label-rules {
    font-size: 95%;
    font-style: italic;
}

.message-dialog {
    background-image: none;
    background-color: #414449;
}