[Unit]
Description=clear linux installer
After=getty.target
Conflicts=getty@tty1.service

[Service]
Type=oneshot
ExecStart=/usr/bin/clr-installer
ExecStartPost=/usr/bin/reboot
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1

[Install]
WantedBy=multi-user.target
