DISPLAY boot.txt
DEFAULT menu.c32
TIMEOUT 50

LABEL clear
  MENU DEFAULT
  MENU LABEL Clear Linux* OS
  LINUX /kernel/kernel.xz
  INITRD /EFI/BOOT/initrd.gz
  APPEND {{.Options}}

LABEL verifyiso
  MENU LABEL Verify ISO Integrity
  LINUX /kernel/kernel.xz
  INITRD /EFI/BOOT/initrd.gz
  APPEND {{.OptionsMediaCheck}}
